/* 全局CSS定义 */
body,input,select,textarea,table,a,ul,li,tr,td{ font-family:"Microsoft Yahei","微软雅黑",Arial,Helvetica,sans-serif,"宋体"; font-size:12px; color:#333;}
div,form,img,ul,ol,li,dl,dt,dd{margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;}

body,div,ul,li,form,table,ol,dl,dt,dd{margin:0px;padding:0px;list-style:none;border:0px;}
textarea {overflow:auto;}

form{display:inline}
body > div {margin:0 auto}
body{overflow:hidden; background:url("../images/bg.gif") repeat fixed top;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden}

table,td,tr,th{ font-size:12px;}

/* 链接颜色 */
a{color: #4183C4;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{}

.user_list{
	position: relative;
	border:1px solid #ccc;
	margin:auto;
	width: 700px;
	height: 700px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #999;
	margin-top:-10px;
}

#tutorial{
	border:0px solid #ccc;
	border-radius: 3px;
}

.user_list .box{
	background-color:#fcfcfc;
	position:absolute;
	top:10px;
	left:10px;
	width: 160px;
	height: 70px;
	text-transform:uppercase;
	border-radius: 3px;
	box-shadow: 0px 0px 4px #777;
	font-size: 32px;
	font-weight:700;
	line-height:70px;
	text-align:center;

	text-shadow: 0 0px 5px #999, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #FBFF59, 0 0 70px #FBFF59;
	color: #09f;
}

.user_list .box_hover{
	text-shadow: 0 0px 3px #bbb;
	color: #555;
}

.controller{position:absolute; top:20px; left:20px;}

#winner_list, #start_button_bottom, #start_button_up{
	border-radius: 3px;
	box-shadow: 2px 2px 6px #777;
	position: absolute;
	background-color:#fff;
	padding:10px;
	z-index:14;
}

#winner_list{
	width:240px;
	top:20px;
	right:-180px;
}
#winner_list:active{
	box-shadow: 2px 2px 6px #bbb;
}

.winner_title{
	position: relative;
	text-align: left;
	left:0px;
	font-size:14px;
	font-weight:600;
	cursor:pointer;
	color:#09f;
	-text-shadow: 0px 0px 2px #999;
}

.winner_table {
	margin-top:5px;
	max-height:400px;
	overflow:auto;
	display:none;
}

.winner_table table{
	width:220px;
	text-align:center;
	border-spacing:0px;
}
.winner_table table tr{
	height:28px; line-height:28px;
}
.winner_table table thead{
	background-color:#f0f0f0;
}

.winner_table table tbody tr:hover{
	background-color:#FFECCE;
}

/*开始抽奖 按钮*/
#start_button_up, #start_button_bottom{
	box-shadow: 0px 0px 30px #f5f5f5;
	height: 80px;
	line-height:80px;
	text-align:center;
	width: 320px;
	left:10px;
	font-size: 66px;
	font-weight:700;
	cursor:pointer;
	letter-spacing:8px;

	color: #fff;
	text-shadow: -1px -1px 0 #777,1px 1px 0 #333,1px 1px 0 #444;
	text-shadow:
	1px 1px rgba(130, 130, 130, 0.8),
	-1px -1px rgba(130, 130, 130, 0.8),
	-2px -2px rgba(130, 130, 130, 0.8),
	-3px -3px rgba(130, 130, 130, 0.8),
	-4px -4px rgba(130, 130, 130, 0.8),
	-5px -5px rgba(130, 130, 130, 0.8),
	-6px -6px rgba(130, 130, 130, 0.8);
}

#start_button_up{
	bottom:-50px;
}
#start_button_bottom{
	top: -50px;
}

#start_button:hover{
	color: #FFF4C8;
	/*
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #C4F1FF, 0 0 40px #FFC428, 0 0 70px #FFC428;
	*/
}

#stop_button a, #continue_button a{
	padding: 0 10px;
	position:absolute;
	top: 250px;
	left: 180px;
	font-size: 120px;
	font-weight: 900;
	cursor:pointer;
	border-radius: 5px;
	text-decoration:none;
}

#stop_button a:hover, #continue_button a:hover{
	box-shadow: 3px 3px 9px #666;
}

#stop_button a:active, #continue_button a:active{
	box-shadow: 3px 3px 9px #ccc;
}
#stop_button a:visited, #continue_button a:visited{
	box-shadow: 3px 3px 9px #999;
}

#continue_button a{
	top: 500px;
	left: 300px;
	font-size: 22px;
}

#stop_button a:hover{
	box-shadow: 3px 3px 9px #666;
}

#stop_button a:active {
	box-shadow: 3px 3px 9px #ccc;
}
#stop_button a:visited{
	box-shadow: 3px 3px 9px #999;
}



/*遮罩层*/
#cover_up, #cover_bottom {
	top: 0px;
	position: absolute;
	z-index: 10;
	background-color: #111;
	overflow: hidden;
}

#cover_bottom {
	background-color:#111;
}

/* webkit 滚动条样式*/
::-webkit-scrollbar { width: 10px; height:10px;}/* Track & scroll thickness */
::-webkit-scrollbar-track {
	background-color:#f0f0f0;
	 border-left:1px solid #d2d2d2;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(231,231,231,0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:hover{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
}
::-webkit-scrollbar-thumb:active{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(231,231,231,0.4);
}